/* RESET*/
* {margin: 0;padding: 0; font-size: 100%; border: none; outline: none; font-weight: 300; box-sizing: border-box; font-family: 'Lato', sans-serif;}
body{ background-color: #f0eeee}
ul{ list-style: none;}
a{ text-decoration: none;}
img {max-width: 100%;}

/* CABECALHO*/
.cabecalho{ width: 100%; float: left; padding: 3% 4%;}
    .logo{ width: 76px; height: 76px; float: left; background: url(../img/logo-mobile2.png) center center/76px no-repeat; font-size: 0}
    .btn-menu{ float: right; width: 76px; height: 76px; text-align: center; color: ghostwhite; cursor: pointer; border-radius: 76px; background: linear-gradient(to right,#4188ab,#7fc94c,#c9a14c,#e90000)}

/* MENU */
.menu{display: none; width: 100%; height: 100%; position: fixed; background-color: rgba(0, 0, 0, 0.9); top: 0; left: 0;}
    .btn-close{font-size: 3em; color: ghostwhite; float: right; margin-right: 6%; margin-top: 3%; cursor: pointer;}
    .menu ul {width: 100%; float: left; text-align: center;}
    .menu li {padding: 2%;}
     .menu li a {font-size: 2em; color: ghostwhite; padding: 1.5% 3%}
     .menu li a:hover{ border: 1px solid #c9a14c}

/* BANNER */

.banner{ width: 100%; float: left; text-align: center; padding: 3% 4%; background: url("../img/banner-mobile.jpg")}
    .title{ width: 100%;}
        .title h2{ font-size: 2.5em; color: ghostwhite; font-weight: 700; }
        .title h3{ font-size: 1.5em; color: ghostwhite;}
    .botoes{width: 100%; margin-top: 3%}
        .botoes i{ float: right;}
        .btn-cadastrar{ width: 100%; font-size: 1.5em; text-align: left; cursor: pointer; padding: 3%; border-radius: 10px; background-color:ghostwhite; color: #130400; margin-bottom: 3%}
        .btn-sobre{ width: 100%; font-size: 1.5em; text-align: left; cursor: pointer; padding: 3%; border-radius: 10px; background-color:#130400; color: ghostwhite}

/* SERVIÇOS */
.servicos{ width: 100%; float: left; padding: 3% 4%;}
    .servico{ width: 100%; background-color: ghostwhite; text-align: left; border-radius: 7px; margin-bottom: 3%;}
        .servico a img{ width: 100%; border-radius: 7px 7px 0 0}
    .grupo-article{ padding: 7%;}
        .grupo-article a{ font-size: 1.5em; color: #130400; font-weight: 700;}
        .grupo-article h4{ font-size: 1.2em; color: #130400; margin-top: 2%;}
        .grupo-article p{ margin-top: 6%; color: #130400; line-height: 1.5em;}

/*  NEWSLETTER*/
.newsletter{ width: 100%; text-align: center; float: left; padding: 3% 4%; background-color: #130400;}
    .newsletter h2{ font-size: 1.5em; color: ghostwhite; font-weight: 700;}
    .newsletter h3{ font-size: 1.2em; color: ghostwhite;}
    .newsletter form{ margin-top: 2%; }
    .newsletter input{ width: 100%;background-color: #130400; color: ghostwhite; border: 1px solid rgb(249, 249, 255, 0.3); padding: 5%; border-radius: 5px;}
    .newsletter button {width: 100%; font-weight: 700;cursor: pointer; background-color: ghostwhite; color: #130400; padding: 5%; border-radius: 5px; margin-top: 2%;}

