/* RESET*/
* {margin: 0;padding: 0; font-size: 100%; border: none; outline: none; font-weight: 300; box-sizing: border-box; font-family: 'Lato', sans-serif;}
body{ background-color: #f5f5f5}
ul{ list-style: none;}
a{ text-decoration: none;}
img {max-width: 100%;}

/* CABECALHO*/
.cabecalho{ width: 100%; float: left; padding: 3% 4%;}
.logo{ width: 76px; height: 76px; float: left; background: url(../img/exemplo3.png) center center/76px no-repeat; font-size: 0}